# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# nb
.ipynb_checkpoints/

# all datasets
*.csv

# venv
.venv/
env/
venv/

.vscode/

# os 
.DS_Store
Thumbs.db

*.tsv
*.xlsx
*.h5
*.parquet

*.pkl
*.joblib
*.h5
*.pt
*.onnx

*.log

# env
.env
